//Переменные цвета
:root {
  --primary-dark: #212121; /* Main dark background color */
  --primary-accent: #66d9ef; /* Accent color for buttons, links, etc. */
  --primary-text: #ffffff; /* Main text color */
}

:root {
  --bg-dark: #1a1a1a; /* Dark background for sections, cards, etc. */
  --bg-darker: #0b0721; /* Even darker background for overlays, etc. */
  --bg-lighter: #333333; /* Lighter background for highlights, etc. */
}

:root {
  --text-primary: #c7c5b8; /* Primary text color */
  --text-muted: #666666; /* Muted text color */
  --text-highlight: #ffffff; /* Highlighted text color */
}

:root {
  --accent-green: #34c759; /* Green accent color */
  --accent-blue: #3f388f; /* Blue accent color */
  --accent-yellow: #f7dc6f; /* Yellow accent color */
  --accent-red: #ff2222; /* Red accent color */
}

:root {
  --grad-dark-to-light: linear-gradient(to bottom, var(--primary-dark), var(--bg-lighter));
  --grad-accent-to-dark: linear-gradient(to bottom, var(--primary-accent), var(--primary-dark));
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Extrabold';
  src: url('./fonts/Montserrat-ExtraBold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  @include font-smoothing;
}

img {
  max-width: calc(100% - 30px);
  margin: 15px auto;
  display: block;
  border: 3px solid var(--bg-lighter);
  border-radius: 5px;
  box-shadow: 0 0 15px var(--accent-blue);
}

* {
  color: var(--primary-text);
}

h1 {
  font-size: 24px;
  margin: 15px 0;
}

h2 {
  font-size: 22px;
  color: rgb(116, 138, 236);
  margin: 15px 0;
}

h3 {
  font-size: 20px;
  color: lightpink;
  margin: 15px 0 5px 10px;
}

h4 {
  font-size: 18px;
  color: lightblue;
  margin: 10px 0 5px 20px;
}

p {
  font-size: 16px;
  margin: 10px 0 10px 40px;
}

ul,
ol {
  margin: 12px 50px;
}

li {
  font-size: 14px;
  margin: 0 0 5px 0;
}

pre {
  display: inline-block; /* Задает элементу ширину по содержимому */
  background-color: var(--accent-blue);
  border-radius: 8px;
  padding: 15px 80px 15px 15px;
  margin: 10px 40px;
  max-width: calc(100% - 100px);
  overflow-y: auto;
}

.custom-title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat Extrabold', sans-serif;
  color: var(--accent-red);
  padding: 20px 0 5px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Set the scrollbar width */
  height: 10px; /* Set the scrollbar height */
  background-color: #333; /* Dark background color */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Dark thumb color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darker thumb color on hover */
}

::-webkit-scrollbar-track {
  background-color: #444; /* Dark track color */
  border-radius: 5px; /* Rounded corners */
}
